<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FlaggedFreqBackColor" value="FFFFC6" />
        <add key="FlaggedFreqForeColor" value="000000" />
        <add key="FreqDescColor" value="FFFF00" />
        <add key="FreqDescFontIsBold" value="False" />
        <add key="LockedFreqBackColor" value="A0A0A0" />
        <add key="LockedFreqForeColor" value="FFFFFF" />
        <add key="MinSigStrBarPattern" value="2" />
        <add key="MinSigStrBarThickness" value="1" />
        <add key="MonitorClipboard" value="False" />
        <add key="BrowseLiveTrack" value="True" />
        <add key="ScanEnableBenchmark" value="False" />
        <add key="ScanEnableAudioMute" value="True" />
        <add key="ScanEnableWatchdog" value="True" />
        <add key="ScanEnableCutoff" value="True" />
        <add key="ScanHighResolution" value="False" />
        <add key="ScanLogNewFreqs" value="False" />
        <add key="ScanNormalizeFreqs" value="False" />
        <add key="ScanRadioSettleMs" value="250" />
        <add key="ScanSlowdownMs" value="0" />
        <add key="ScanSnapToStepSize" value="True" />
        <add key="ScanUpdateDateTime" value="False" />
        <add key="ScanCutoffLockFreqs" value="False" />
        <add key="ScanWatchdogSkipSeconds" value="15" />
        <add key="ScanCutoffSkipSeconds" value="15" />
        <add key="ShowMinSigStrBar" value="True" />
        <add key="ShowSignalDesc" value="True" />
        <add key="UnidFoundMessage" value="Unidentified. Found during frequency scan." />
        <add key="UnidText" value="Unidentified" />
        <add key="UpdateRadioFromDb" value="False" />
        <add key="FreqSpectrumShowInfo" value="False" />
        <add key="FreqSpectrumInfoTextColor" value="-5374161" />
        <add key="FreqSpectrumInfoLineColor" value="-5374161" />
        <add key="FreqSpectrumInfoVertPadding" value="3" />
        <add key="FreqAllowBulkEditDateChange" value="False" />
        <add key="ActivityLoggerWriteHeadings" value="True" />
        <add key="ActivityLoggerUseMinSecs" value="7" />
        <add key="ActivityLoggerMinSecs" value="True" />
        <add key="ScanSecDelay" value="10" />
        <add key="ScanMinimumDb" value="-78" />
        <add key="fmsSchedulerIgnoreDates" value="False" />
        <add key="fmsSchedulerLogActivities" value="False" />
        <add key="NoneText" value="None" />
        <add key="ScanSelectedGroup" value="" />
        <add key="ScanLowerFreq" value="852000000" />
        <add key="ScanUpperFreq" value="860000000" />
        <add key="Preset1" value="" />
        <add key="Preset10" value="" />
        <add key="Preset2" value="" />
        <add key="Preset3" value="" />
        <add key="Preset4" value="" />
        <add key="Preset5" value="" />
        <add key="Preset6" value="" />
        <add key="Preset7" value="" />
        <add key="Preset8" value="" />
        <add key="Preset9" value="" />
        <add key="CurrentDatabase" value="D:\SDRSharpCommunity\Plugins\FMSuite\net5.0-windows\FMSuite.Databases\FMSuite.Data.db" />
    </appSettings>
</configuration>