<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
  <clear />
  <add key="urlAoki" value="http://www1.s2.starcat.ne.jp/ndxc/pc/nd/nda/nda21.zip" />
  <add key="urlEibi" value="http://eibispace.de/dx/sked-a21.csv" />
  <add key="urlFmListBase" value="http://www.fmlist.org/_server.php?task=113&amp;lat={0}&amp;long={1}" />
  <add key="urlMwList" value="http://www.mwlist.org/mw_server.php?task=113" />
  <add key="urlHfcc" value="http://hfcc.org/data/a21/a21allx2.zip" />
  <add key="urlClassaxe" value="http://www.classaxe.com/dx/ndb/{0}/export_signallist_excel?&amp;type_DGPS=1&amp;type_DSC=1&amp;type_HAMBCN=1&amp;type_NAVTEX=1&amp;type_NDB=1&amp;type_TIME=1&amp;type_OTHER=1" />
  <add key="urlFmList" value="http://www.fmlist.org/_server.php?task=113&amp;lat=51.4769&amp;long=-0.0005" />
  <add key="window" value="" />
  <add key="fflTimeout" value="20" />
  <add key="defaultHeard" value="False" />
  <add key="defaultShift" value="" />
  <add key="defaultShiftEnabled" value="False" />
  <add key="defaultSquelch" value="50" />
  <add key="defaultSquelchEnabled" value="False" />
  <add key="defaultNotes" value="" />
  <add key="defaultCity" value="" />
  <add key="defaultCountry" value="" />
  <add key="defaultLat" value="" />
  <add key="defaultLon" value="" />
  <add key="defaultAzimuth" value="" />
  <add key="defaultTarget" value="" />
  <add key="defaultStartTime" value="" />
  <add key="defaultStopTime" value="" />
  <add key="defaultDays" value="" />
  <add key="defaultLanguage" value="" />
  <add key="defaultPower" value="" />
  <add key="defaultProtocol" value="" />
  <add key="defaultService" value="" />
  <add key="defaultGroups" value="" />
  <add key="defaultLocked" value="" />
  <add key="defaultFlagged" value="" />
  <add key="lat" value="" />
  <add key="long" value="" />
 </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
